.model-wrapper{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.801);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.model{
    min-width: 600px;
    background: #192428;
    border-radius: 0.5em;
    padding: 1em;
}
.model--title{
    text-align: center;
    margin-bottom: 0.5em;
}
.model .map{
    width: 568px;
    height: 568px;
    background-size: 100%;
    position: relative;
}
.model--group{
    margin-top: 0.5em;
}